{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="block">
        <h2 class="pb-30">Connexion</h2>
        <form action="{{ path('signin') }}" method="post">
            <div class="form-row">
                <label for="email">Email</label>
                <input type="text" name="_username" id="email" value="{{username}}" autofocus>
            </div>
            <div class="form-row">
                <div class="d-flex flex-row-nowrap justify-content-between">
                    <label for="password">Mot de passe</label>
                    <a href="{{path('reset-password-request')}}">Mot de passe oublie ?</a>
                </div>
                <input type="password" name="_password" id="password">
            </div>
            <div class="form-row">
                <label for="remember_me">
                    <input type="checkbox" name="_remember_me" id="remember_me">
                    Se souvenir de moi
                </label>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
            {% if error %}
                <ul class="form-errors pb-20">
                    <li>{{ error.messageKey | trans(error.messageData, 'security') }}</li>
                </ul>
            {% endif %}
            <button class="btn btn-primary mr-5">Connexion</button>
            <a href="{{path('signup')}}">Pas de compte ?</a>
        </form>
    </div>
{% endblock %}